<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <div class="form-container sign-in">
      <form onsubmit="return false">
        <h1>Sign In</h1>

        <span>use your email password</span>
        <input
          type="email"
          placeholder="Email"
          name="loginEmail"
          id="loginEmail"
          required
        />
        <input
          type="password"
          placeholder="Password"
          name="loginPassword"
          id="loginPassword"
          required
        />
        <button id="loginBtn">Sign In</button>
      </form>
      <!-- Signup Button -->
      <a class="signup-button" href="/signup">New User? Sign Up</a>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"
      integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../js/login.js"></script>
  </body>
</html>
