<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/login.css" />
    <title>Login or Sign Up</title>
  </head>

  <body>
    <div class="container" id="container">
      <div class="form-container sign-up">
        <form onsubmit="userSignUp(event)">
          <h1>Create Account</h1>

          <span> fill your credentials for registeration</span>
          <input
            type="text"
            placeholder="Name"
            name="name"
            id="name"
            required
          />
          <input
            type="email"
            placeholder="Email"
            name="email"
            id="email"
            required
          />
          <input
            type="text"
            placeholder="Contact No."
            pattern="[0-9]*"
            name="number"
            id="number"
            required
          />
          <input
            type="password"
            placeholder="Password"
            name="password"
            id="password"
            required
          />
          <button id="signUpBtn">Sign Up</button>
        </form>
      </div>
      <div class="form-container sign-in">
        <form onsubmit="return false">
          <h1>Sign In</h1>

          <span>use your email password</span>
          <input
            type="email"
            placeholder="Email"
            name="loginEmail"
            id="loginEmail"
            required
          />
          <input
            type="password"
            placeholder="Password"
            name="loginPassword"
            id="loginPassword"
            required
          />
          <a href="#">Forget Your Password?</a>
          <button id="loginBtn">Sign In</button>
        </form>
      </div>
      <div class="toggle-container">
        <div class="toggle">
          <div class="toggle-panel toggle-left">
            <h1>Welcome Back!</h1>
            <p>Enter your personal details to use all of site features</p>
            <button class="hidden" id="signIn">Sign In</button>
          </div>
          <div class="toggle-panel toggle-right">
            <h1>Hello, Friend!</h1>
            <p>
              Register with your personal details to use all of site features
            </p>
            <button class="hidden" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"
      integrity="sha512-QTnb9BQkG4fBYIt9JGvYmxPpd6TBeKp6lsUrtiVQsrJ9sb33Bn9s0wMQO9qVBFbPX3xHRAsBHvXlcsrnJjExjg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="../js/login.js"></script>
  </body>
</html>
